@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Rokkitt&display=swap');

Body {
    color: #484848;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
}

nav a {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 5px;
    color: #fff;
}

a {
    font-family: Orbitron;
}

i {
    color: cornflowerblue;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Orbitron;
}

p {
    font-family: Rokkitt;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hero {
    background-image: url(assets/img/img3.jpg);
    display: inline-flex;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hero1 {
    background-image: url(assets/img/img3.jpg);
    display: inline-flex;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

